{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block content %}

<main class="main_block">
	<h2 class="h2_header_title">Страница о нас</h2>
	<p class="p_about">Наша компания находится на рынке с 2005 года. Нас отличает симбиоз качественной печати и багетной мастерской, которая
	оформит Ваши репродукции и постеры в выбранном Вами багете по Вашим размерам. А также Минимальные Сроки Выполнения
	Заказа, Умеренные Цены, Стремление Развиваться, обновлять список Услуг и Возможностей для Вас!</p>
	<div>
		<h2>У нас вы найдете:</h2>
		<ul class="list_about">
			<li>Более 100 000 постеров на стену разных размеров с возможностью исполнения на плотной постерной фотобумаге, на холсте и
			акварельной бумаге</li>
			<li>Более 2000 видов деревянного, алюминиевого и пластикового багета ведущих мировых производителей на сайте доступны для
			оформления on-line (еще у нас есть демо-зал в Москве на Кутузовском проспекте 30/32 доступно порядка 3000 образцов
			багета)</li>
			<li>Возможность оформления работы на глубокий галерейный подрамник</li>
		</ul>
	</div>
</main>
<script src="{% static 'js/script.js' %}"></script>
{% endblock content %}