{% extends "base.html" %}
{% load static %}

{% block content %}
		<section class="main_block_painting_center">
			<div class="cart">
				<img src="{{ paint.imagePainting.url }}" alt="Нет фото">
				<p class="autor_painting">{{ paint.autor }}</p>
				<h3 class="name_painting">{{ paint.name }}</h3>
				<p class="format_painting">{{ paint.formPaint }}</p>
				<h3 class="price_painting">{{ paint.price }}</h3>
				<form action="{% url 'add_cart' paint.id %}" method="post">
					{{ cart_product_form }}
					{% csrf_token %}
					<input type="submit" class="card_painting" value="В корзину">
				</form>
			</div>
		</section>
	</main>
{% endblock content %}