{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<main class="main_block">
	<section class="main_block">
		<h2 class="h2_header_title">Репродукции</h2>
		<p class="content_p_rep">
			<strong>Репродукция</strong> — воспроизведение предметов искусства путём фотографии, клише (копирование) или ручного воспроизведения
			оригинала. Самая главная цель — сохранить подлинность объекта, максимально точно передать информацию о нём и его внешний
			вид.
			
			К примеру, при репродукциях картин необходимо использовать определённую технику освещения, чтобы картина была освещена
			равномерно, все цвета и оттенки были переданы максимально точно. В цветной фотографии необходимо учитывать цветовую
			температуру осветительных приборов с характеристиками фотоплёнки. В цифровой фотографии необходимо учитывать баланс
			белого цвета. Необходимо разбираться в физике, светотехнике и экспонометрии.
			
			Факсимильная репродукция — репродукция с точной передачей не только содержания, но и всех особенностей воспроизводимого
			объекта.
		</p>
	</section>
	
</main>
<script src="{% static 'js/script.js' %}"></script>
{% endblock content %}
