/*-------------------адаптив точка 670px------------*/

@media screen and (min-width: 500px) {
	.header__buttons {
	display: none;
}
}
/*Шапка сайте 670px*/
@media screen and (max-width: 670px) {
	.header__block {
	flex-direction: column;
	justify-content: center;
	height: auto;
	gap: 10px;
	padding: 10px 0px;
}
}
/*Блок с птичкой - адаптив 670px*/
@media screen and (max-width: 840px) {
	.intro_block_left {
		align-self: center;
	}
	.intro_block_left img{
	width: 195px;
	height: 239px;
}
.intro_block_right h2 {
	padding-top: 35px;
	color: #2C2D35;
	font-size: 36px;
	font-family: Raleway;
	font-style: normal;
	font-weight: 500;
	line-height: 110%;
}
.intro_block_right span {
	color: rgba(89, 141, 102, 1);
	font-size: 36px;
	font-family: Raleway;
	font-style: normal;
	font-weight: 500;
	line-height: 110%;
}
.intro_block_right p {
	color: #86928B;
	font-size: 16px;
	font-family: Raleway;
	font-style: normal;
	font-weight: 500;
	line-height: 150%;
}
.intro_block_right button {
	padding: 20px 60px;
	border: 1px solid #598D66;
	color: rgba(89, 141, 102, 1);
	font-size: 18px;
	font-family: Raleway;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}
}
/*Блок Главный контент сайта - адаптив 670px*/
@media screen and (max-width: 670px) {
.main_block_header {
	flex-direction: column;
	gap: 20px;
}
.change_country  {
	font-size: 18px;
}
}
/*Блок о новой коллекции адаптив 670px*/
@media screen and (max-width: 670px) {
.new_collection {
	display: flex;
	width: 100%;
	margin: 0px auto;
	background-image: url('../img/rectangle.png');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position:  center center;
	background-size: cover;
	padding-top: 60px;
}
.new_collection_content_header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.title h2 {
	color: #F4F6F5;
	font-size: 24px;
	font-family: Raleway;
	font-style: normal;
	font-weight: 500;
	line-height: 100%;
}
.new_collection_content_title {
	font-size: 16px;
}
.new_collection_block {
	max-width: 1140px;
	margin: 0px auto;
	display: flex;
	flex-direction: column;
}
.collection_button  {
	display: flex;
	justify-content: center;
}
}
/*Адаптив footer  670px*/
@media screen and (max-width: 670px) {
	.dooble_block_footer {
	flex-direction: column;
	gap: 20px;
}
.right_block_footer {
	align-self: center;
}
}

/*Страница сотрудник - детально 670px*/
@media screen and (max-width: 670px) {
	.employes_block {
	flex-direction: column;
	gap: 10px;
	align-items: center;
}
.employes_block h3, .employes_block p {
	text-align: center;
}

}